body {
  text-align: center;
}

#group {
  width:40%;
  border: 1px solid #a9a9a9;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.name_u {
  width: 70%;
}

.name_g {
  width:80%;
}

#user {
  background-color: #ffffff;
  width: 90%;
  text-align: right;
  margin-left: auto;
}

#adduser { 
  background-color: #dcdcdc;
  border: 2px solid #a9a9a9;
  width: 90%;
  margin: 0px; }

#addgroup { 
  background-color: #dcdcdc;
  border: 2px solid #a9a9a9;
  width: 500px;
  margin-top: 20px;
}

#removegroup {
  margin-top: 25px;
}

.remove {
  background-color: #dcdcdc;
  border: 2px solid #a9a9a9;
  padding: 0 10px;
}

#fileop {
  width:40%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#fileop > label {
  background: #f5f5f5;
  color: #000;
  border: 1px solid #c0c0c0;
  font-size: small;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  display: inline-block;
}
label #load {
  display: none;
}

